

html,
body {
  margin: 0;
  box-sizing: border-box;
  --brand-green: #4fe3a3;
  --brand-blue: #1a72ed;
  --brand-light-blue: #6999ff;
  --brand-dark-blue: #286bcb;
  --brand-pink: #fa1660;
  --brand-dark-pink: #c00037;
  --brand-gold: #fab200;
  --brand-light-gold: #ffe44c;
  --brand-dark-gold: #c28300;
  --gray: #777;
  --dark-gray: #333;
  --light-gray: #aaa;
  --background-color: #121212;
  --ds-theme-error: #b00020;
  --white: #fff;
}

body {
  background-color: var(--background-color);
}

.container {
  display: grid;
  gap: 40px;
}

@media (min-width: 1000px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }
}

.test-header {
  margin: 50px 0 0 40px;
  color: var(--brand-pink);
}

.test-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

ul {
  list-style-type: none;
}

ul li {
  width: 50%;
  height: 40px;
  position: relative;
  border-bottom: 2px solid steelblue;
  padding-top: 20px;
  color: var(--white);
}

button {
  background-color: var(--brand-dark-blue);
  color: var(--white);
  border: none;
  height: 25px;
  border-radius: 4px;
}

button:visited {
  background-color: var(--brand-green);
}

button:focus {
  outline: none;
}

button:active {
  background-color:green;
  border: none;
}

.load-test-button {
  margin-left: 250px;
}

.video-container {
  display: grid;
  position: relative;
  height: 100%;
}

.video-text-container{
  height: 100%;
  margin: 40px;
  color: var(--white)
}

.titleDescription{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#videoTitle{
  font-size: 25px;
}

.video {
  display: flex;
  justify-content: center;
  width: 100%;
}

video {
  border: 2px solid var(--brand-green);
  width: 100%;
}

video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;}

video:focus {
  outline: none;
}

.control-bar{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 20px;
  position: absolute;
  bottom: 45px;
  width: 100%;
}

.control-bar-item {
  margin: 10px;
}

.rewind {
  transform: scaleX(-1);
}

.entered-time {
  padding: 5px;
  width: 80px;
  display: block;
}

.submit-button {
  position: relative;
  margin-top: -1px;
  right: 0;
  left: -10px;
}

.tool-tip {
  position: relative;
  display: inline-block;
}

.tool-tip .tool-tip-text {
  visibility: hidden;
  width: 120px;
  background-color: steelblue;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tool-tip .tool-tip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: steelblue transparent transparent transparent;
}

.tool-tip:hover .tool-tip-text {
  visibility: visible;
  opacity: 1;
}

.tool-tip:hover .tool-tip-rewind-text {
  visibility: visible;
  opacity: 1;
  transform: scaleX(-1);
}

.hide {
  display: none !important;
}

label {
  color: var(--white);
  padding-bottom: 45px;
  width: 100px;
}

footer {
  height: 50px;
  width: 100%;
  border-top: 1px solid var(--light-gray);
  position: fixed;
  bottom: 0px;
  background-color: var(--background-color);
}

.footer-contents {
  margin: auto;
  width: 30%;
  text-align: center;
  padding-bottom: 25px;
  color: var(--white);
}

.videoListContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  max-height: 800px;
  margin: auto;
  border: 1px solid var(--white);
  color: var(--white);
}

.videoListTitle{
  border-bottom: 1px solid var(--white);
  text-align: center;
  padding: 20px;
}

.videoList{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  overflow-y: scroll;
}

.card{
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.card img{
  height: 100px;
  width: 175px;
}

.text-container{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  width: 100%;
}

.errorMessage{
  color: var(--ds-theme-error);
  padding: 30px;
}

.static {
  position:absolute;
}

.static:hover {
  opacity:0;
}

.directions{
  opacity: 1;
  border: 2px solid var(--brand-green);
  width: 100%;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 999px){
  .directions{
    height: 300px;
  }
  .video-container{
    margin: 20px;
  }
  .container{
    margin-bottom: 80px;
  }
}


.loading-block {
  background: linear-gradient(to right, #7a7a7a, #bcbcbc, #7a7a7a);
  background: -webkit-linear-gradient(to right, #7a7a7a, #bcbcbc, #7a7a7a);
  background-size: 200%;
  height: 30px;
  width: 200px;
  animation: loading-gradient 1.5s linear infinite;
}

.loading-image{
  height: 100px;
  width: 175px;
}

.loading-text{
  width: 100%;
  margin: 2px 0px;
  height: 20px;
}

@keyframes loading-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: -100% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}

.videoListLoading{
  overflow: none;
}

.popup {
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;
}

.popup.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms;
}